@charset "UTF-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, legend, textarea, p, th, td, input, select, button {
	margin: 0px;
	padding: 0px;
}

fieldset, img {
	border: 0px;
}

hr{
	display: none;
}

dl, ul, ol, li {
	list-style: none
}

input, select, textarea, button {
	border-radius: 0;
	vertical-align: middle
}

body, th, td, input, select, textarea, button {
	font-size: 13px;
	line-height: 1.5;
	font-family: '맑은 고딕', dotum, '돋움', sans-serif;
	color: #222;
	letter-spacing: -1px
}

a {
	color: #2f2f2f;
	text-decoration: none
}

a:hover {
	color: #118eff;
	text-decoration: underline
}
/* 활성화 안된건 아니고 색이 들어가서 클릭이 안되는 것 처럼 보이는 거에요 */
.btn {
	border: 1px solid #e9e9e9;
	background-color: #ffffff;
	padding-left: 7px;
	padding-right: 7px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
}

.inputBox {
	border: 1px solid #e9e9e9;
	background-color: #ffffff;
	padding-left: 7px;
	padding-right: 7px;
	height: 30px;
}

.point {
	color: #FF0000
}